/* ----------------------------------------------
:: Template Name: Yummy Blog - Food Blog Template
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com
:: Version: v1.0.0
:: Last Updated: 11-13-2017
---------------------------------------------- */

/* -------- [Master Stylesheet] --------
:: 1.0 Base CSS
:: 2.0 Top Header Area CSS
:: 3.0 Menu Area CSS
:: 4.0 Wellcome Area CSS 
:: 5.0 Top Feature Area CSS 
:: 6.0 Blog Area CSS 
:: 7.0 Instagram Area CSS 
:: 8.0 Footer Social Area CSS 
:: 9.0 Goole Map Area CSS
:: 10.0 Sidebar Area CSS
:: 11.0 Breadcumb Area CSS
:: 12.0 Paginatio Area CSS
:: 13.0 Contact Area CSS
:: 14.0 Single Blog CSS
----------------------------------- */

/* ***** Fonts ***** */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Quicksand:300,400,500,700|Shadows+Into+Light+Two');

/* ***** Import CSS ***** */

@import 'css/bootstrap/bootstrap.min.css';
@import 'css/others/animate.css';
@import 'css/others/magnific-popup.css';
@import 'css/others/meanmenu.min.css';
@import 'css/others/owl.carousel.min.css';
@import 'css/others/font-awesome.min.css';
@import 'css/others/pe-icon-7-stroke.css';

/* --------------------
:: 1.0 Top Header Area CSS
-------------------- */

.top_header_area {
    width: 100%;
    height: 40px;
    background-color:   #00cccc ; /*;-----#8c8c8c----------------------*/
    position: static;
}

#UploadGambar {
    
    width: auto;
    background-color: blue;
}

.top_header_area .top_social_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.top_header_area .top_social_bar > a {
    font-size: 17px;
    color: #232d37;
    margin-right: 30px;
}

.top_header_area .top_social_bar > a:hover {
    color: whitesmoke;
}

.top_header_area .top_social_bar > a:last-of-type {
    margin-right: 0;
}

.top_header_area .signup-area {
    height: 40px;
    position: relative;
    z-index: 3;
}

.top_header_area .signup-area a {
    font-size: 13px;
    color: #222;
}
.top_header_area .signup-area a:hover {
    color: aliceblue;
}

.top_header_area .signup-area .login a {
    margin-right: 13px;
    border-right: 2px solid black;
    padding-right: 13px;
}
.top_header_area .signup-area .about a {
    margin-right: 13px;
    padding-right: 13px;
}
.top_header_area .signup-area .bantuan a {
    margin-right: 13px;
    padding-right: 13px;
}
.top_header_area .signup-area .dropdown-menu a{
    border: none;
}



/* --------------------
:: 2.0 Navbar Area CSS
-------------------- */

.navbar.navbar-expand-lg {
    padding: 0;
    background-color: #008080     /*  ; ------#595959--------------------*/

}

.btn btn-default{
    height: 35px;
}
.input-group{
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 750px;
    height: 35px;
}
.input-group button{ 
    background-color: white;
    
}
.navbar.navbar-expand-lg  #logo{
    width: 130px;
    margin-left: 60px;
    margin-right: 50px;
    
}
.navbar.navbar-expand-lg .navbar-nav .nav-link {
    color: #232d37;
    font-size: 14px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar.navbar-expand-lg .navbar-nav .active .nav-link {
    color: white;

}

.navbar.navbar-expand-lg .navbar-nav .nav-item .hamburger{
    width: 30px;
    height: 5px;
    margin: 5px;
    margin-left: 50px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-item .wishlist a{
    color: white;
    margin-left: 20x;
}

.navbar.navbar-expand-lg .navbar-nav .nav-item .hamburger{
    background-color: black;
}

.dropdown-item {
    font-weight: 500;
    color: #232d37;
    font-size: 14px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fc6c3f;
    text-decoration: none;
    background-color: #f8f9fa;
}

/* --------------------
:: 3.0 Body Area CSS
-------------------- */

.tubuh{
    margin-top: 50px;
}

/* --------------------
:: 4.0 Login CSS
-------------------- */


    .loginbackground{
        background: url(ON9SP90.jpg);
        background-size: cover;

        /* background-image: url("1.gif");*/
        /*70E1B5*/
      }
      form{
    margin-top: 25px;
    background-color: white;
    width: 25%;
    height: 600px;
    padding: 1%;
    font-family: "Roboto";
    border-radius: 10px;
  }
    #form{
    margin-top: 25px;
    background-color: white;
    width: 25%;
    height: 400px;
    padding: 1%;
    font-family: "Roboto";
    border-radius: 10px;
  }

#form2{
    margin-top: 0px;
    background-color: transparent;
    width: 25%;
    height: 0px;
    padding: 1%;
    font-family: "Roboto";
    border-radius: 10px;
  }


  table {
    width: 100%;
  }
  form table tr td img.logo{
    width: 150px;
    height: 75px;
  }

  form table tr td img{
    width: 20px;
    height: 20px;
  }

  form table tr td h4{
    margin-bottom: 60px;
  }

  form table tr td input{
    border-color: transparent;
    background :transparent;
  }

  input:focus{
    outline-color: transparent; ;
  }

  form table tr td button{
    width: 80%;
    background: #009999;
    border :none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
  }

  form table tr td p{
    color: gray;
  }

  a#register{
    text-decoration: none;
    font-weight: 500;
  }
/* -
-------------------
:: 4.0 Katalog Area CSS
-------------------- */
.img-responsive{
   
    height: 140px;
}
.tubuh  .panel-footer{
  color : #a6a6a6;
  font-family: Chaparral Pro Light;
}
.tubuh .judul{
  color: black;
  font-family: Bradley Hand ITC;
}

.tubuh  .panel-footer button{
   background-color: transparent;
   width: 80px;
    height: 33px;
    border-radius: 5px;
    margin-top: 10px;
}
.tubuh  .panel-footer img{
    height: 33px;
    width: 23px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
/* -
-------------------
:: 5.0 Footer Area CSS
-------------------- */

  footer {
      background-color: #006666;
      color: white;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  } 