@import 'css/bootstrap/bootstrap.min.css';
@import 'css/others/animate.css';
@import 'css/others/magnific-popup.css';
@import 'css/others/meanmenu.min.css';
@import 'css/others/owl.carousel.min.css';
@import 'css/others/font-awesome.min.css';
@import 'css/others/pe-icon-7-stroke.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0;
}

img {
  vertical-align: middle;
}

/* Pointer Tangan Saat Hover di Thumbnail */
.cursor {
  cursor: pointer;
}

/* Tombol Next & Previous */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Posisi Tombol Next */
.next {
  right: 30px;
  border-radius: 3px 0 0 3px;
}

/* Penomoran Gambar (1/3, 2/3, 3/3) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 3 Kolom Thumbnail */
.column {
  float: left;
  width: 33.33%;
}

/* Transparant Thumbnail */
.demo {
  opacity: 0.6;

}

.active,
.demo:hover {
  opacity: 1;

}