/* Header */
	
		*{padding:0;margin:0}
		body{background:url(ON9SP90.jpg)}
		header{
			text-align:center;
			font-family: 'Open Sans', sans-serif;
			padding:10px;
			margin-bottom:50px;
			background:rgba(150,150,150,.1);
			box-shadow:0px 5px 5px rgba(0,0,0,.2);
		}
		header a{color:#000;text-decoration:none}
		header h1, header h2, header p{padding:3px 0;text-shadow:2px 2px 2px #f4f4f4;font-weight:400}
		header h1{font-size:20px}
		header h2{font-size:16px}
			.title{color:#333}
			.title span{font-weight:bold}
		header p{font-size:13px}
		
	/* End Header */
	
	
	.faq{
		width:1100px;
		margin:0 auto;
		overflow:visible;
	}
	.faq-left h2,
	.faq-right h2{
		text-align:center;
		font-family: 'Open Sans', sans-serif;
		font-weight:400;
		text-shadow:2px 2px 2px #f4f4f4;
	}
	.faq-left{
		float:left;
		width:550px;
	}
	.faq-right{
		float:right;
		width:550px;
	}
	
	.faq-container{
		width:500px;
		margin:20px auto;
		list-style-type:none;
	}
	
	.faq-container li{
		position:relative;
		margin:5px 0;
		-webkit-transition:height 1s ease in out;
		   -moz-transition:height 1s ease in out;
		        transition:height 1s ease in out;
	}
	.faq-container li input{
		display:none;
	}
	
	.faq-container li label{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		text-shadow: 1px 1px 1px #666;
		background: #333;
		background: -webkit-linear-gradient(top, #333 1%, #666 100%);
		background: -moz-linear-gradient(top, #333 1%, #666 100%);
		background: linear-gradient(top, #333 1%, #666 100%);
		color: #fff;
		display: block;
		padding: 10px;
		cursor: pointer;
		border-radius: 5px 5px 0 0;
	}
	.faq-container li label:hover{
		background: -webkit-linear-gradient(top, #333 30%, #666 100%);
		background: -moz-linear-gradient(top, #333 30%, #666 100%);
		background: linear-gradient(top, #333 30%, #666 100%);
	}
	.faq-container li div{
		overflow: hidden;
		height:0px;
		padding:5px 10px;
		background:#666;
		background: -webkit-linear-gradient(top, #666 1%, #333 100%);
		background: -moz-linear-gradient(top, #666 1%, #333 100%);
		background: linear-gradient(top, #666 1%, #333 100%);
		position: relative;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border-radius:0 0 5px 5px;
		color:#f7f7f7;
		font-family: 'Open Sans', sans-serif;
		font-size:13px;
	}
	.faq-container li div p{margin-top:10px}
	.faq-container li input:checked{
		background:#000;
	}
	.faq-container li input:checked ~ div{
		padding-bottom:20px;
	}
	.faq-container li input:checked ~ div.answer{
		height:50px;
	}
	.faq-container li input:checked ~ div.big{
		height:110px;
	}